// fonts------------------------
$font_1: "KoHo", "sans-serif";
$font_2: "Roboto", "sans-serif";

// interpolation-----------------
$c: "color";
$b: "border";
$f: "font";

// colors--------------------

$color: #282f59;
$color_2: #7c7c7c;
$color_3: #fff;
$color_4: #4642ff;
$color_5: #111;

// fontsize------------------------

$font_lg: 2.5rem;
$font-md: 1.2rem;
$font-sm: 1rem;
$font-md-2: 1.5rem;

// responsive fontsize
$font-res-lg: 1.8rem;
$font-res-sm: 1.1rem;
